.attractions {
  border: 2px solid @green;
  margin: 2px;
  padding: 2px;

  line-height: 26px;
}

// .attractions__caption {
//   font-size: 18px;
//   text-align: center;
//   font-weight: bold;
// }

.attractions__checkbox-element {
  padding: 5px;
}

.attractions__label {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
