.contacts {
  border: 2px solid @green;
  margin: 2px;
  padding: 2px;

  line-height: 26px;
}

// .contacts__caption {
//   font-size: 18px;
//   text-align: center;
//   font-weight: bold;
// }

.contacts__text-input-element {
  padding: 5px;
}

.contacts__label {
  color: @grey;
}

.contacts__input {
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  background-color: @lighter-grey;
  text-transform: none;
  box-sizing: border-box;
  border: none;
}
