.features-list {
  border: 2px solid @green;
  margin: 2px;
  padding: 2px;

  text-align: left;
}

.features-list__header {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features-list__description {
  color: @grey;
}
