.features-list {
  // border: 2px solid @green;
  // margin: 2px;
  // padding: 2px;

  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
}

.features-list__item {
  // border: 1px solid @black;
  // margin: 2px;
}

.features-list__header {
  margin: 0;
  padding-left: 69px;
  padding-top: 28px;
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features-list__header--house,
.features-list__header--present,
.features-list__header--burger {
  position: relative;
}

.features-list__header--house::before {
  position: absolute;

  content: "";
  background-image: url("../../img/icon-house.svg");
  top: 18px;
  left: 22px;
  background-size: 37px 39px;
  height: 39px;
  width: 37px;

  @media (min-width: @tablet-width) {
    top: 27px;
    left: 60px;
    background-size: 75px 78px;
    height: 78px;
    width: 75px;
  }
}

.features-list__header--present::before {
  position: absolute;
  top: 17px;
  left: 24px;
  content: "";
  background-image: url("../../img/icon-gift.svg");
  background-size: 32px 38px;
  height: 38px;
  width: 32px;

  @media (min-width: @tablet-width) {
    top: 28px;
    left: 62px;
    background-size: 73px 75px;
    height: 75px;
    width: 73px;
  }
}

.features-list__header--burger::before {
  position: absolute;
  top: 19px;
  left: 20px;
  content: "";
  background-image: url("../../img/icon-burger.svg");
  background-size: 37px 42px;
  height: 42px;
  width: 37px;

  @media (min-width: @tablet-width) {
    top: 30px;
    left: 60px;
    background-size: 76px 75px;
    height: 75px;
    width: 76px;
  }
}

.features-list__description {
  color: @grey;
  margin: 0;
  padding-top: 14px;
  padding-left: 69px;
  padding-right: 20px;
  padding-bottom: 1px;
}

@media (min-width: @tablet-width) {
  .features-list {
    display: flex;
    justify-content: space-between;
  }

  .features-list__item {
    padding: 30px;
    text-align: center;

    width: 33.3%;
    box-sizing: border-box;

    // border: 2px solid @black;
    // margin: 2px;

    &:nth-child(1) {
      order: -1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }
  }

  .features-list__header {
    padding-left: 0;
    padding-top: 130px;
    font-size: 21px;
    line-height: 26px;
  }

  .features-list__description {
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 1px;
  }
}

@media (min-width: @desktop-width) {
  /*desktop*/
}
