.features-list {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-bottom: 37px;
  padding-top: 7px;
}

.features-list__item:nth-child(2) br,
.features-list__item:nth-child(3) br {
  display: none;
}

.features-list__item {
  position: relative;
}

.features-list__header {
  margin: 0;
  padding-left: 69px;
  padding-top: 28px;
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features-list__house {
  position: absolute;
  top: 18px;
  left: 22px;

  @media (min-width: @tablet-width) {
    top: 57px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.features-list__house-icon {
  height: 38px;
  width: 37px;

  @media (min-width: @tablet-width) {
    height: 78px;
    width: 75px;
  }
}

.features-list__present {
  position: absolute;
  top: 17px;
  left: 25px;

  @media (min-width: @tablet-width) {
    top: 57px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.features-list__present-icon {
  height: 38px;
  width: 32px;

  @media (min-width: @tablet-width) {
    height: 75px;
    width: 73px;
  }
}

.features-list__burger {
  position: absolute;
  top: 19px;
  left: 19px;

  @media (min-width: @tablet-width) {
    top: 59px;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.features-list__burger-icon {
  height: 43px;
  width: 38px;

  @media (min-width: @tablet-width) {
    height: 75px;
    width: 76px;
  }
}

.features-list__description {
  color: @grey;
  margin: 0;
  padding-top: 14px;
  padding-left: 69px;
  padding-right: 20px;
  padding-bottom: 0;
}

@media (min-width: @tablet-width) {
  .features-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .features-list__item:nth-child(2) br,
  .features-list__item:nth-child(3) br {
    display: inline;
  }

  .features-list__item {
    padding: 30px;
    text-align: center;

    width: 33.3%;
    box-sizing: border-box;
    padding-bottom: 60px;

    &:nth-child(1) {
      order: -1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }
  }

  .features-list__header {
    padding-left: 0;
    padding-top: 130px;
    font-size: 21px;
    line-height: 26px;
  }

  .features-list__description {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
  }
}

@media (min-width: @desktop-width) {
  .features-list__item {
    padding-bottom: 80px;
  }
}
