.gallary {
  border: 2px solid @green;
  margin: 2px;
  padding: 2px;

  line-height: 24px;
}

.gallary__image {
  background-color: @light-blue;
}

.gallary__title {
  font-weight: bold;
}

.gallary__author {
  color: @grey;
  text-transform: none;
}

.gallary__likes {
  font-weight: bold;
}

.gallary__item {
  border: 2px solid @black;
}

@media (min-width: @tablet-width) {
  .gallary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .gallary__item:nth-child(2),
  // .gallary__item:nth-child(3),
  // .gallary__item:nth-child(4) {
  .gallary__item {
    width: 49.4%;
  }

  //.gallary__item:nth-child(1) {
  .gallary__item--large {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  // .gallary__item:nth-child(2),
  // .gallary__item:nth-child(3),
  // .gallary__item:nth-child(4) {
  .gallary__item {
    width: 32.9%;
  }

  .gallary__item--large {
    width: 100%;
  }
}
