.gallary {
  // border: 2px solid @green;
  // margin: 2px;
  // padding: 2px;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.gallary__item {
  // border: 2px solid @black;
  border-top: 1px solid #e5e5e5;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
}

.gallary__image {
  background-color: @light-blue;
}

.gallary__description {
  display: flex;
  flex-direction: column;
}

.gallary__title {
  font-weight: bold;
  margin: 0;
  padding-top: 8px;
}

.gallary__author {
  color: @grey;
  text-transform: none;
  margin: 0;
}

.gallary__likes {
  position: relative;

  font-weight: bold;
  padding-top: 8px;
  padding-left: 37px;

  &::before {
    position: absolute;

    content: "";
    background-image: url("../../img/icon-like.svg");
    top: 7px;
    left: 0px;
    background-size: 22px 20px;
    height: 20px;
    width: 22px;
  }
}

@media (min-width: @tablet-width) {
  .gallary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gallary__item {
    width: 49.4%;
    border: none;
  }

  .gallary__item--large {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .gallary__item {
    width: 32.9%;
  }

  .gallary__item--large {
    width: 100%;
  }
}
