.hotel-search {
  border: 2px solid @red;
  margin: 2px;
  padding: 2px;

  text-align: center;
}

.hotel-search__header {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search__description {
  color: @grey;
  line-height: 24px;
}

.hotel-search__button {
  font: inherit;
  text-transform: uppercase;
  color: @white;
  background-color: @light-blue;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
