.introduce {
  border-top: 1px solid #e5e5e5;
  line-height: 26px;
  padding-bottom: 5px;
}

.introduce__elements {
  display: flex;
  flex-direction: column;
}

.introduce__text-input-element {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.introduce__label {
  color: @grey;
  padding-right: 14px;
}

.introduce__input {
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  background-color: @lighter-grey;
  text-transform: none;
  box-sizing: border-box;
  border: 4px solid @lighter-grey;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  width: 50%;
  flex-grow: 1;

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: @white;
    border: 4px solid #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .introduce {
    border: none;
    padding-left: 54px;
  }
}

@media (min-width: @desktop-width) {
  .introduce {
    border: none;
    padding-left: 71px;
  }
}
