.page-footer {
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 29px;
}

.page-footer__hashteg {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 32px;
}

.page-footer__develop-link {
  line-height: 26px;
  color: @black;
  fill: @black;

  &:hover,
  &:focus {
    fill: #81b3d2;
  }

  &:active {
    fill: #b2b2b2;
  }
}

.page-footer__develop-link svg {
  vertical-align: middle;
  padding-left: 10px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 0;
  }

  .page-footer__hashteg {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .page-footer__develop-link {
    padding-top: 7px;
    margin-left: 5px;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 0;
    padding-top: 31px;
  }

  .page-footer__develop-link {
    margin-bottom: 43px;
  }
}
