.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.page-header__logo {
  position: absolute;
  bottom: -33px;
  left: 0;
  right: 0;
  margin: auto;
  width: 102px;

  z-index: 1;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    // position: absolute;
    top: 0;
  }

  .page-header {
    position: relative;
    // min-height: 0;
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    width: 189px;
  }
}
