.reasons {
  border: 2px solid @red;
  margin: 2px;
  padding: 2px;

  text-align: center;
}

.reasons__item {
  background-color: @light-blue;
  color: @white;
}

.reasons__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reasons__photo {
  background-color: @light-blue;
}

@media (min-width: @tablet-width) {
  .reasons {
    display: flex;
    justify-content: center;
  }

  .reasons--image-left .reasons__photo {
    order: -1;
  }

  .reasons__item {
    padding: 20px;
    width: 33%;
  }

  .reasons__photo {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  /*desktop*/
}
