.reasons {
  border: 2px solid @red;
  margin: 2px;
  padding: 2px;

  text-align: center;
}

.reasons__item {
  background-color: @light-blue;
  color: @white;
}

.reasons__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reasons__photo {
  background-color: @light-blue;
}

