.reasons-list {
  border: 2px solid @green;
  margin: 2px;
  padding: 2px;
}

.reasons-list__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reasons-list__item {
  background-color: @light-grey;
  color: @black;
}

.reasons-list__description,
.reasons-list__number {
  color: @grey;
}
