.reasons {
  // border: 1px solid @red;
  // margin: 2px;
  // padding: 2px;

  text-align: center;
  margin: 0;
  padding: 0;
}

.reasons__item {
  background-color: @light-blue;
  color: @white;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.reasons--other {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: @light-grey;
  color: @black;
}


@media @mobile-width-only {
  .reasons--other {
    &:first-child {
      padding-top: 20px;
    }

    &:nth-child(2) {
      position: relative;

      &::before {
        position: absolute;
        left: 20px;
        top: 0;
        content: "";
        height: 1px;
        width: 280px;
        border-top: 1px solid #d6d6d6;
      }

      &::after {
        position: absolute;
        left: 20px;
        bottom: 0;
        content: "";
        height: 1px;
        width: 280px;
        border-bottom: 1px solid #d6d6d6;
      }
    }
  }
}

// .reasons--other:nth-child(2) {
//   position: relative;
// }

// .reasons--other:nth-child(2)::before {
//   position: absolute;
//   left: 20px;
//   top: 0;
//   content: "";
//   height: 1px;
//   width: 280px;
//   border-top: 1px solid #d6d6d6;
// }

// .reasons--other:nth-child(2)::after {
//   position: absolute;
//   left: 20px;
//   bottom: 0;
//   content: "";
//   height: 1px;
//   width: 280px;
//   border-bottom: 1px solid #d6d6d6;
// }

.reasons--other .reasons__description,
.reasons--other .reasons__number {
  color: @grey;
}

.reasons__header {
  margin: 0;
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reasons__number {
  margin: 0;
  padding-bottom: 15px;
}

.reasons__description {
  margin: 0;
}

.reasons__photo {
  background-color: @light-blue;
}

@media (min-width: @tablet-width) {
  .reasons {
    display: flex;
    justify-content: center;
  }

  .reasons--other {
    padding-bottom: 45px;
  }

  .reasons--reverse .reasons__photo {
    order: -1;
  }

  .reasons__item {
    box-sizing: border-box;
    padding-top: 45px;
    width: 33.3%;
  }

  .reasons__header {
    font-size: 21px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .reasons__description {
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .reasons__photo {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  /*desktop*/
  .reasons--other {
    padding-bottom: 65px;
  }

  .reasons__header {
    padding-left: 95px;
    padding-right: 95px;
  }
}
