.review-form {
  padding-left: 20px;
  padding-right: 20px;
}

.review-form__button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 37px;
  align-items: center;
}

.review-form__submit {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 100%;
  min-height: 58px;
  color: @white;
  background-color: @light-blue;
  text-transform: uppercase;
  border: none;

  cursor: pointer;
}

.review-form__title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 21px;
}

.review-form__elements {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .review-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }

  .review-form__title {
    font-size: 21px;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding-top: 49px;
    padding-bottom: 58px;
  }

  .review-form div {
    flex-grow: 1;
  }

  .review-form div:nth-child(1) {
    width: 41%;
  }

  .review-form div:nth-child(2) {
    width: 100%;
  }

  .review-form div:nth-child(3) {
    order: -1;
    width: 50%;
  }

  .review-form div:nth-child(4) {
    width: 100%;
  }

  .review-form div:nth-child(5) {
    width: 100%;
  }

  .review-form__button-wrapper {
    justify-content: space-between;
    padding-bottom: 62px;

    &::after {
      margin-top: 5px;
      content: "* - обязательные поля";
      background-color: @white;
      border: none;
      color: @grey;
      font-size: 14px;
      line-height: 26px;
    }
  }

  .review-form__submit {
    width: 50%;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .review-form {
    flex-wrap: wrap;
    padding-left: 120px;
    padding-right: 120px;
  }

  .review-form__title {
    padding-top: 46px;
    padding-bottom: 58px;
  }

  .review-form__button-wrapper {
    padding-bottom: 67px;
  }
}
