.review {
  border: 2px solid @red;
  margin: 2px;
  padding: 2px;
}

.review__submit {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: @white;
  background-color: @light-blue;
  text-transform: uppercase;
}
