.sending-fail {
  border: 2px solid @red;
  margin: 2px;
  padding: 2px;

  line-height: 26px;
  text-align: center;
}

.sending-fail__header {
  font-size: 18px;
  font-weight: bold;
}

.sending-fail__description {
  line-height: 24px;
  color: @grey;
}

.sending-fail__button {
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  color: @white;
  background-color: @light-blue;
  text-transform: uppercase;
}
