.site-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.site-list a {
  color: @white;
}

.site-list__item {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  background-color: @light-blue;
  width: 100%;
}

@media @mobile-width-only {
  .site-list__item {
    a {
      padding-top: 7px;
      padding-bottom: 7px;

      box-sizing: border-box;
      display: block;

      border-top: 1px solid #9ac2db;
      border-bottom: 1px solid #678fa8;

      &:hover,
      &:focus {
        background-color: #669ec0;
      }

      &:active {
        background-color: #5496bd;
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &:first-child a {
      border-top: 1px solid @light-blue;
    }

    &:last-child a {
      border-bottom: none;
      box-shadow: 0 -3px 3px 0 rgba(0, 1, 1, 0.2) inset;
    }
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    padding-left: 6.3%;
    padding-right: 3%;
  }

  .site-list a {
    color: @black;

    &:hover,
    &:focus {
      color: #81b3d2;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .site-list__item--active a {
    color: #766357;

    &:hover,
    &:focus {
      color: #604e43;
    }

    &:active {
      color: rgba(118, 99, 87, 0.3);
    }
  }

  .site-list__item {
    font-size: 14px;
    line-height: 26px;
    background-color: @white;
    width: 20%;

    padding-top: 15px;
    padding-bottom: 15px;
  }

  .site-list__item--left {
    text-align: left;
  }

  .site-list__item--right {
    text-align: right;
  }

  .site-list__item--left + .site-list__item--left {
    margin-left: -5px;
  }

  .site-list__item--right + .site-list__item--right {
    margin-left: 9px;
    margin-right: 3px;
  }

  .site-list__item--left + .site-list__item--right {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    padding-left: 7.6%;
    padding-right: 5.5%;
  }

  .site-list__item--left + .site-list__item--left {
    margin-left: 10px;
  }

  .site-list__item--right + .site-list__item--right {
    margin-left: 30px;
  }
}
