.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
}

.social__link {
  height: 48px;
  min-width: 46px;
  background-color: @light-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: @white;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    fill: #88b6d1;
  }
}

.social__item {
  padding-top: 4px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 6px;
}

@media (min-width: @tablet-width) {
  .social {
    padding-bottom: 40px;
  }

  .social__item {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .social {
    padding-bottom: 0;
  }
}
