.welcome-text {
  position: relative;
  line-height: 26px;
  text-align: center;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0;
}

.welcome-text__about {
  color: @black;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

.welcome-text__reasons {
  color: @grey;
  font-size: 14px;
  margin-bottom: 5px;
}

.welcome-text__reasons--narrow {
  line-height: 24px;
}

.welcome-text--gallary {
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 21px;
}

.welcome-text--gallary .welcome-text__about {
  padding-bottom: 9px;
}

.welcome-text--gallary-total {
  padding-top: 15px;
  padding-bottom: 29px;
  border-top: 1px solid @dark-grey;
}

.welcome-text--gallary-total .welcome-text__about {
  padding-bottom: 8px;
}

.welcome-text--form {
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
}

.welcome-text--form .welcome-text__about {
  padding-bottom: 9px;
}

@media (min-width: @tablet-width) {
  .welcome-text {
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 37px;
  }

  .welcome-text__about {
    color: @black;
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 7px;
  }

  .welcome-text__reasons {
    color: @grey;
    font-size: 14px;
    padding-bottom: 8px;
  }

  .welcome-text--gallary {
    padding-top: 44px;
  }

  .welcome-text--gallary .welcome-text__about {
    font-size: 30px;
    padding-bottom: 0;
  }

  .welcome-text--gallary .welcome-text__reasons {
    padding-left: 50px;
    padding-right: 50px;
  }

  .welcome-text--gallary-total {
    padding-top: 15px;
    padding-bottom: 61px;
    border: none;
  }

  .welcome-text--gallary-total .welcome-text__about {
    font-size: 30px;
    padding-top: 21px;
    padding-bottom: 0;
  }

  .welcome-text--gallary-total .welcome-text__reasons {
    padding-left: 60px;
    padding-right: 60px;
  }

  .welcome-text--form {
    padding-top: 46px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }

  .welcome-text--form .welcome-text__about {
    font-size: 30px;
    padding-bottom: 0;
  }

  .welcome-text--form .welcome-text__reasons {
    padding-left: 140px;
    padding-right: 140px;
  }
}

@media (min-width: @desktop-width) {
  .welcome-text {
    padding-left: 310px;
    padding-right: 310px;
  }

  .welcome-text--gallary {
    padding-top: 81px;
  }

  .welcome-text--gallary .welcome-text__about {
    font-size: 30px;
    padding-bottom: 0;
  }

  .welcome-text--gallary .welcome-text__reasons {
    padding-left: 70px;
    padding-right: 70px;
  }

  .welcome-text--gallary-total {
    padding-top: 21px;
    padding-bottom: 59px;
    border: none;
  }

  .welcome-text--gallary-total .welcome-text__about {
    font-size: 30px;
    padding-top: 21px;
    padding-bottom: 0;
  }

  .welcome-text--gallary-total .welcome-text__reasons {
    padding-left: 60px;
    padding-right: 60px;
  }

  .welcome-text--form {
    padding-top: 81px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .welcome-text--form .welcome-text__about {
    font-size: 30px;
    padding-bottom: 0;
  }

  .welcome-text--form .welcome-text__reasons {
    padding-left: 360px;
    padding-right: 360px;
  }
}
